/**
 * Copyright (C) 2017 Jens Lechtenbörger
 *
 * Simple presentation theme, based on 'white' theme for reveal.js
 * by Hakim El Hattab, http://hakim.se
 *
 * Released under the MIT License: https://opensource.org/licenses/MIT
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #981E32;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #981E32;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 0px 0px; }

.reveal .slides li {
  line-height: 1.1;
  margin: 0.5ex 0px 0px 0px; }

.reveal .slides li p {
  line-height: 1.1;
  margin: 0.5ex 0px 0px 0px; }

.reveal .slides section .fragment.highlight-red.visible {
  font-weight: bold;
  color: #981E32; }

.reveal .slides section .fragment.gray-out {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.gray-out.visible {
  color: #a0a0a0; }

.reveal .slides section .fragment.shrink.visible {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
   -webkit-transform-origin: left;
           transform-origin: left; }

.reveal .slides section .fragment.grow.visible {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
   -webkit-transform-origin: left;
           transform-origin: left; }

/* Show icon if slide has notes.
   Icon generated from SVG file /usr/share/openclipart/svg/computer/icons/lemon-theme/filesystems/folder_inbox.svg
   contained in openclipart-svg under Debian.
   SVG created by Jose Hevia, Public Domain.
.reveal aside.notes {
  background: url(folder_inbox.png) no-repeat top right;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 0;
  right: 0;
  display: block; }

.reveal aside.notes p, .reveal aside.notes ul, .reveal aside.notes ol, .reveal aside.notes li {
  display: none; }
  */

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 10px 0;
  top: 0;
  left: 0;
  color: #981E32;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  text-shadow: none;
  word-wrap: break-word; }

/* h1 is used on the title slide. */
.reveal h1 {
  font-size: 2.2em; }

/* h2 is used for sections that appear in the TOC. */
.reveal h2 {
  font-size: 2.2em;
  text-align: center; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1.3em; }



/*********************************************
 * Footer; TOC progress plugin has height 9.5vh
 *********************************************/

.reveal .slide-footer { height: 9.5vh; }

/*********************************************
 * SLIDES
 *********************************************/

.reveal .slides {
  text-align: left;
}

/*********************************************
 * Figures with captions
 *********************************************/

.reveal .figure .figure-number {
  display: none;
}

.reveal .figure p {
  margin: 10px 0;
  text-align: right;
  font-size: .5em;
  line-height: 1.0;
  color: rgba(34, 34, 34, 0.3);

}

.reveal .figure img,
.reveal .figure object,
.reveal .figure svg {
  margin: 20px auto;
  display: block;
  float: none;
  text-align: center;
}


/*********************************************
 * OTHER
 *********************************************/
.reveal .talk-title {
  margin: 80px 0px 30px 0px; }

.reveal .talk-subtitle p {
  font-size: .6em;
  line-height: 1.0;
  margin: 0; }

.reveal .talk-author { /* Nothing special */ }

.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal object,
.reveal svg,
.reveal video,
.reveal iframe {
  max-width: 90%;
  max-height: 25em; }

.reveal strong,
.reveal b {
  font-weight: bold;
  color: #981E32; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  font-size: 0.8em;
  margin-left: 40px; }

.reveal .org-ref-bib {
  font-size: 0.6em; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  margin: 1ex auto;
  overflow: auto;
  line-height: 1.2em;
  max-height: 22em;
  max-width: 95%;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  word-wrap: normal;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  color: dimgrey;
  background: whitesmoke;
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal section table {
  margin: 20px auto;
  line-height: 1.1;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal section table th {
  background-color: #a0a0a0;
  font-weight: bold; }

.reveal section table tr:nth-child(even) {
  background-color: whitesmoke; }

.reveal section table th,
.reveal section table td {
  font-size: 0.8em;
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 2px solid; }

.reveal .emacs-table td {
  font-size: 0.6em; }

.reveal .emacs-table th {
  font-size: 0.7em; }

.reveal section table th[align="center"],
.reveal section table td[align="center"] {
  text-align: center; }

.reveal section table th[align="right"],
.reveal section table td[align="right"] {
  text-align: right; }

.reveal .org-center {
  text-align: center; }

.reveal .org-right {
  text-align: right; }

.reveal section table tbody tr:last-child th,
.reveal section table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: 70%;
  line-height: 0; }

.reveal sub {
  vertical-align: sub;
  font-size: 70%;
  line-height: 0; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00568a;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a[href^="http"] {
  color: #7ab516; }

/* Show icon for outgoing/external link.
   Icon (drawn with mtPaint) released into Public Domain. */
.reveal a[href^="http"]:not(.nooutlink):after {
  content: url(outgoing-link.png);
  margin: 0px 3px 0px 3px; }

.reveal a:hover {
  font-weight: bold;
  text-shadow: none;
  border: none; }

.reveal a[id] {
  color: #222; }

.reveal a[id]:hover {
  font-weight: normal; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 5px 0px 5px 0px;
  float: right;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #788a82;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
